.modal.erpModal
{
    border-radius: 0px !important;
    --bs-modal-border-radius:0px;
}
.erpModal .modal-dialog
{
    border: 2px solid #959391;
   
}


.modal.erpModal .btn
{
    border-radius: 0px !important;
}

.bg-purple{
    background-color:var(--bs-purple);
}
.bg-pink{
    background-color:var(--bs-pink);
}
.bg-red{
    background-color:var(--bs-red);
}
.bg-orange{
    background-color:#975015;
}
.bg-yellow{
    background-color:var(--bs-yellow);
}
.bg-green{
    background-color:var(--bs-green);
}
.bg-teal{
    background-color:var(--bs-teal);
}
.bg-cyan{
    background-color:var(--bs-cyan);
}
.bg-black{
    background-color:var(--bs-black);
}
.bg-white{
    background-color:var(--bs-white);
}
.bg-gray{
    background-color:var(--bs-gray);
}
.erpModal .modal-header
{
    background: #f3f3f3;
}


.erpModal .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: #e9bcbc;
    font-weight: bold;
}

.erpModal .nav-pills .nav-link {
    border-radius: 0px !important;
    border: 1px dashed black;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.erpModal .btn:hover {
    
    background-color: #4361ee !important;
    color:white !important;
}
